html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/*login page */
body{
    background-image: url(img/background.jpg);
    max-width: 100%;
    height: auto;
    background-size: cover;
    opacity: 1;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.nav-header-main{
    opacity: 0.9;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color:black ;
    border-radius: 20px;
}

.header-login{
    padding:30px 40px 25px 40px;
    margin: 0 auto;
}

@media(max-width: 480px){
    body{
        background-image: url(img/background-tel.jpg);
        zoom: 150%;
        -moz-transform: scale(1.5);
    }
}
    
@media (min-width: 481px) and (max-width: 1024px) {
    body {
        background-image: url(img/background-tel.jpg);
        zoom: 150%;
        -moz-transform: scale(1.5);
    }
}

@media (min-width: 1025px) {
    body {
	    background-image: url(img/background.jpg);
   }
}

.button-inlogpage{
    height: 30px;
    width: 70px;
}

.input-inlogpage{
    margin-bottom: 10px;
    height: 30px;
    width:200px ;
}

.p-inlogpage{
    color: white;
}

.p-error{
    background: #A94442;
    color: white;
    padding: 10px;
    width: 90%;
    border-radius: 5px;
    margin:20px auto ;
}

.h1-signuppage{
    color: white;
}

.button-signup{
    height: 30px;
    width: 70px;
    margin-left: 150px;
    transform: -20%;
}
/*mainpage*/
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.flex{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.signuperror{
    color: white;
    background-color: tomato;
}

.ul-mainpage{
    list-style-type: none;
    margin-top: 10px;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

.li-mainpage{
    float: left;
}

.li-mainpage a {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.li-mainpage a:hover{
    background-color: #111;
}

.active{
    background-color: red;
}

.button-menubar{
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    height: 46px;
    width: 75px;
    cursor: pointer;
    background-color:black;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: medium;
}

.button-menubar:hover{
    background-color: #111;
}

.copyright{
    margin-left: 10px;
    color: white;
    float:left ;
    position: absolute;
    bottom: 10px;
}

.gallery-title{
    font-family:'Times New Roman', Times, serif ;
    font-size: 28px;
    font-weight: 700;
    color: black;
}

.wrapper{
    position: absolute;
    left: 50%;
    margin-right: -50%;
    margin-top: 10px;
    transform: translate(-50%)
}

.gallery-links{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: 600;
    color: #111;
}

.gallery-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

.gallery-container a{
    color: black;
    text-decoration: none;
    color: black;
    width: 230px;
    margin: 20px 10px 20px 20px;
}

.gallery-container a:hover{
    opacity: 0.8;
}

.gallery-container a div{
    width: 100%;
    height: 235px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery-container a h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 600;
    color: #111;
}

.gallery-container a p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    font-weight: 200;
    color: #111;
}

.gallery-upload{
    color: white;
    margin-top: 50px;
    opacity: 0.9;
    position: absolute;
    left: 50%;
    border-radius: 20px;
    background: black;
    padding:0px 100px 20px 100px;
    transform: translate(-50%)
}

.gallery-upload-form{
    align-content: center;
}

.folderimg{
    width: 100px;
    height: 100px;
}

.input-form{
    width: 350px;
    height: 25px;
    margin: 7px;
    border-radius: 10px;
    text-align: center
}

.input-from-file{
    margin-top: 7px;
    border-radius: 10px;
    margin-left: 5px;
    width: 290px;
}

.gallary-upload-form form button{
    border-radius: 5px;
}

.gallary-upload-form form h2{
    color: white;
}

.mainpage-picture{
    float: left;
    position: absolute;
    left: 44%;
    transform: translateX(-44%);
}

.mainpage-picture-sides{
    transition: transform .5s ease;
    height: 500px;
    width: 325px;
}
.mainpage-picture-middle{
    transition: transform .5s ease;
    margin-top: 100px;
    height: 600px;
    width: 400px;
}

.mainpage-picture-sides:hover{
    transform: scale(1.2);
}

.mainpage-picture-middle:hover{
    transform: scale(1.2);
}
